<div class="testimonial-card {{ classes }}">
  <div class="testimonial-card__image image-wrapper">
    {% render 'media', image: block.settings.image %}
  </div>
  <div class="testimonial-card__info">
    <div class="testimonial-card__rating">{% render 'star-rating', rating: block.settings.rating_number %}</div>
    <p class="testimonial-card__text">{{ block.settings.text }}</p>

    <div class="testimonial-card__footer">
      <div class="testimonial-card__name-container">
        <span class="testimonial-card__name">{{ block.settings.name }}</span>
        {% if block.settings.verified_text != blank %}
          <span class="testimonial-card__verified">
            {% render 'icons-new' with icon: 'verified-icon' %}
            <span>
              {{ block.settings.verified_text }}
            </span>
          </span>
        {% endif %}
      </div>
      {% assign date = block.settings.date | date: '%d/%m/%Y' %}
      <p class="testimonial-card__date">{{ date | date: '%b %e, %Y' }}</p>
    </div>
  </div>
</div>
